.mantine-Input-input {
  div {
    font-family: var(--font-family-text);
    font-feature-settings: var(--font-feature-settings-text);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-sm);
  }
}

.mantine-Input-wrapper {
  margin: unset;
}

.mantine-Input-input {
  background-color: var(--color-background-default);
  border: solid 1px var(--color-stroke-neutral);
  border-radius: var(--border-radius-rounded);
  color: var(--color-foreground-neutral);
  font-family: var(--font-family-text);
  font-feature-settings: var(--font-feature-settings-text);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  padding-block: var(--padding-block-element-tight);
  padding-inline: var(--padding-inline-element-tight);
  height: var(--size-lg);
  min-height: unset;
  transition: var(--transition-short);

  &:focus {
    border-color: var(--color-stroke-neutral-strong);
    box-shadow: var(--box-shadow-lower);
  }

  &[disabled] {
    background-color: var(--color-background-neutral-weak);
    color: var(--color-foreground-neutral-weak);
  }

  &[data-error=true] {
    border-color: var(--color-stroke-error);
    color: var(--color-foreground-error);
  }
}

.mantine-InputWrapper-root[data-size="lg"] .mantine-Input-input {
  padding-block: var(--padding-block-element-tight);
  padding-inline: var(--padding-inline-element-tight);
  height: var(--size-lg);
}

.mantine-InputWrapper-root[data-size="xl"] .mantine-Input-input {
  padding-block: var(--padding-block-element);
  padding-inline: var(--padding-inline-element);
  height: var(--size-xl);
}

.mantine-InputWrapper-root[data-size="2xl"] .mantine-Input-input {
  padding-block: var(--padding-block-element-loose);
  padding-inline: var(--padding-inline-element-loose);
  height: var(--size-2xl);
}

.mantine-InputWrapper-root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  gap: var(--magin-tighter);
}

.mantine-InputWrapper-label {
  color: var(--color-foreground-neutral);
  font-family: var(--font-family-text);
  font-feature-settings: var(--font-feature-settings-text);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-sm);
}

.mantine-InputWrapper-description {
  color: var(--color-foreground-neutral-weak);
  font-family: var(--font-family-text);
  font-feature-settings: var(--font-feature-settings-text);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
}

.mantine-InputWrapper-error {
  color: var(--color-foreground-error);
  font-family: var(--font-family-text);
  font-feature-settings: var(--font-feature-settings-text);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
}

.mantine-Stepper-steps {
  gap: var(--magin-loose);
}

.mantine-Stepper-step {}

.mantine-Stepper-stepWrapper {}

.mantine-Stepper-stepIcon {
  --stepper-icon-size: var(--size-md);

  background-color: var(--color-background-neutral);
  color: var(--color-foreground-neutral-weak);
  font-family: var(--font-family-text);
  font-feature-settings: var(--font-feature-settings-text);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xs);

  border: none;
}

.mantine-Stepper-step[data-progress=true] .mantine-Stepper-stepIcon {
  background-color: var(--color-background-neutral-reverse);
  color: var(--color-foreground-neutral-reverse);
}

.mantine-Stepper-stepCompletedIcon {
  color: var(--color-foreground-neutral);
}

.mantine-Stepper-stepBody {
  margin-inline-start: var(--magin-tighter);
}

.mantine-Stepper-stepLabel {
  color: var(--color-foreground-neutral-weak);
  font-family: var(--font-family-text);
  font-feature-settings: var(--font-feature-settings-text);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
}

.mantine-Stepper-separator {
  background-color: var(--color-stroke-neutral);
  margin-inline: 0;
  height: 1px;
  width: 3rem;
}