@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --border-radius-circular: 100%;
  --border-radius-rounded: 0.25rem;

  --box-shadow-lower: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.05);

  --color-background-default: #FFFFFF;
  --color-background-neutral-weak: #F9FAFB;
  --color-background-neutral: #F3F4F6;
  --color-background-neutral-strong: #E5E7EB;
  --color-foreground-neutral-weaker: #9CA3AF;
  --color-foreground-neutral-weak: #6B7280;
  --color-foreground-neutral: #111827;
  --color-foreground-error: #DC2626;
  --color-stroke-neutral-weaker: #F3F4F6;
  --color-stroke-neutral: #E5E7EB;
  --color-stroke-neutral-strong: #D1D5DB;
  --color-stroke-error: #EF4444;

  --font-family-text: "Inter", sans-serif;

  --font-feature-settings-heading: "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv08" on, "cv09" on, "cv10" on, "cv11" on;
  --font-feature-settings-text: "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv08" on, "cv09" on, "cv10" on, "cv11" on;

  --font-size-2xs: 0.625rem;
  --font-size-sm: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;

  --font-weight-heading-weak: 550;
  --font-weight-heading: 600;

  --font-weight-text: 400;
  --font-weight-text-strong: 500;
  --font-weight-text-stronger: 600;

  --line-height-2xs: 1rem;
  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;

  --magin-tighter: 0.5rem;
  --magin-tight: 0.75rem;
  --magin-loose: 1.5rem;

  --padding-block-container: 1.5rem;
  --padding-inline-container: 1.5rem;

  --padding-block-element-tight: 0.25rem;
  --padding-inline-element-tight: 0.5rem;
  --padding-block-element: 0.375rem;
  --padding-inline-element: 0.625rem;
  --padding-block-element-loose: 0.5rem;
  --padding-inline-element-loose: 0.75rem;

  --size-lg: 1.75rem;
  --size-xl: 2rem;
  --size-2xl: 2.25rem;

  --transition-short: all ease-in 0.05s
}

* {
  margin: unset;
  padding: unset;
}

dl,
ol,
ul {
  list-style: none
}