@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/inter-variable.woff2?v=4.1') format('woff2');
}

@font-face {
  font-family: "inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/inter-variable-italic.woff2?v=4.1') format('woff2');
}

:root {
  --border-radius-circular: 100%;
  --border-radius-rounded: 0.25rem;

  --box-shadow-lower: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.05);

  --color-background-default: #FFFFFF;

  --color-background-neutral-weak: #F9FAFB;
  --color-background-neutral: #F3F4F6;
  --color-background-neutral-strong: #E5E7EB;

  --color-background-neutral-reverse: #111827;

  --color-foreground-neutral-weaker: #9CA3AF;
  --color-foreground-neutral-weak: #6B7280;
  --color-foreground-neutral: #111827;

  --color-foreground-neutral-reverse: #FFFFFF;

  --color-foreground-error: #DC2626;

  --color-stroke-neutral-weaker: #F3F4F6;
  --color-stroke-neutral: #E5E7EB;
  --color-stroke-neutral-strong: #D1D5DB;
  --color-stroke-error: #EF4444;

  --font-family-text: "inter", sans-serif;

  --font-feature-settings-heading: "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv08" on, "cv09" on, "cv10" on, "cv11" on, "zero" on, "ss03" on;
  --font-feature-settings-text: "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv08" on, "cv09" on, "cv10" on, "cv11" on, "zero" on, "ss03" on;
  --font-feature-settings-data: "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv08" on, "cv09" on, "cv10" on, "cv11" on, "zero" on, "ss03" on;

  --font-size-2xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-2xs: 1rem;
  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;

  --magin-tighter: 0.5rem;
  --magin-tight: 0.75rem;
  --magin-loose: 1.5rem;

  --padding-block-container: 1.5rem;
  --padding-inline-container: 1.5rem;

  --padding-block-element-tight: 0.25rem;
  --padding-inline-element-tight: 0.5rem;
  --padding-block-element: 0.375rem;
  --padding-inline-element: 0.625rem;
  --padding-block-element-loose: 0.5rem;
  --padding-inline-element-loose: 0.75rem;

  --size-md: 1.5rem;
  --size-lg: 1.75rem;
  --size-xl: 2rem;
  --size-2xl: 2.25rem;

  --transition-short: all ease-in 0.05s
}

* {
  font-family: var(--font-family-text);
  font-feature-settings: (--font-feature-settings-text);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);
  list-style: none;
  margin: unset;
  padding: unset;
}